:root {
    /*// Cores //*/
    --bd-pri-cor: #FFF;
    --bd-seg-cor: #000000;
    --bd-ter-cor: #1a2d33;
    --bd-qua-cor: #244350;
    --bd-qui-cor: #f3efef;
    --font-pri-cor: #000;
    --font-seg-cor: #333333;
    --font-ter-cor: #767171;
    --font-qua-cor: #D9D9D9;
    --font-qui-cor: #a5a3a3;

    /*// Font-Family //*/
    --font-body: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--bd-pri-cor);
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--bd-seg-cor);
    box-shadow: 0px 0px 5px var(--font-qui-cor);
}


.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.navbar{
    color: #fff;
}

.imgClass {
    height: 100%;
}

img {
    padding: 18px;
    width: 110px;
    height: 70px;
}

.navbar_menu ul li{
    display: inline;
}

.navbar_menu li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    padding-right: 35px;
}

.navbar_menu a:hover {
    color: #6db9da;
    border-radius: 10px;
}

h1 {
    margin-top: 6rem;
    text-align: center;
    color: var(--bd-seg-cor);
    font-weight: 500;
    font-size: 30px;
}

h3 {
    color: var(--bd-ter-cor);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.controls {
    display: flex;
    flex-direction: column;
    
    margin: 3rem;
    margin-top: 2rem;
}

.nome-modelo, .modelo-e-zero-peca, .posicoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
}


.nome-modelo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2rem;
}

.zero-peca {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: inline;
    flex-wrap: wrap;
}


label {
    font-size: 20px;
}

input {
    background-color: var(--bd-qui-cor);
    border: none;
    text-align: center;
    height: 37px;
    width: 80px;
    margin: 8px;
    font-size: 20px;
}

#modelo {
    width: 400px;
    margin-left:0;
}

.lb-modelo {
    margin-left: 0;
}

.posicoes-list {
    display: block;
}

.btn-add-posicao {
    border: none;
    border-radius: 100%;
    font-size: 18px;
    height: 35px;
    width: 35px;

    background-color: var(--bd-ter-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-gravar {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px;
    margin: 10px;
    margin-top: 15px;

    background-color: var(--bd-ter-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}

.footer-posi {
    margin-top: 15px;
    text-align: center;
    color: var(--font-qui-cor);
}

/* TELA */

.info-teste {
    margin-left: 3rem;
    margin-top: 6rem;

    font-size: 20px;
    color: var(--bd-qua-cor);
}

.titulo-modelo {
    font-weight: 500;
    text-align: left;
    margin-bottom: 2rem;
}

.info-teste > p {
    margin-right: 20px;
}

/*HOME*/
.bd-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    background-image: url(../img/bd-img.png);
    background-size: cover;
}

.main-home {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 6rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    height: 430px;
    width: 40%;

    border-radius: 5px;
    background-color: var(--bd-seg-cor);
    color: var(--bd-pri-cor);
}

.menu > button {
    border: none;
    background-color: var(--bd-qui-cor);
    height: 40px;
    font-size: 18px;
    margin: 10px;
    padding: 7px;
    border-radius: 20px;
    width: 200px;
    color: var(--bd-qua-cor);
    cursor: pointer;
}

.h1-home {
    margin: 15px;
    margin-top: 0;
    font-size: 27px;
    color: var(--bd-pri-cor);
}

.img-home {
    margin: 10px;
    height: 70px;
    width: 120px;
}

.footer-home {
    margin-top: 0;
    text-align: center;
    color: var(--font-qui-cor);
}

/**/

.main-resultados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grafico-estatico {
    margin-top: 2rem;
    margin-left: 4rem;
    height: 340px;
    width: 500px;
    color: var(--bd-pri-cor);
    background-color: #244350;
}

.tabela {
    margin: 2rem;
    color: #000;

    border-collapse: collapse;
    font-size: 14px;
    font-family: sans-serif;
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
}

.tabela thead tr {
    background-color: var(--bd-qua-cor);
    color: #ffffff;
    text-align: left;
}

.tabela th, .tabela td {
    padding: 5px 10px;
}

.tabela td {
    border: 1px solid #dddddd;
}

.tabela tbody tr {
    border: 1px solid #dddddd;
}

.tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
    border-bottom: 2px solid var(--bd-qua-cor)
}

.buttons-resultados {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-resultados > button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px;
    margin: 10px;

    background-color: var(--bd-ter-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}

.footer-resultados {
    margin-top: 5px;
    text-align: center;
    color: var(--font-qui-cor);
}

/*HISTÓRICO*/

.pesquisa-teste {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}

.pesquisa-teste > button {
    border: none;
    padding: 6px;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    background-color: var(--bd-ter-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}

.bx-search {
    font-size: 25px;
}

.barra-pesquisa {
    width: 40%;
    font-size: 18px;
    background-color: #f3efef;
    color: #1a2d33;
}

.link-teste {
    text-decoration: none;
    color: var(--bd-seg-cor);
}

.lista-testes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
    margin-top: 3rem;
    font-weight: 500;
}

.item-teste {
    background-color: var(--bd-qui-cor);
    width: 90%;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    color: var(--bd-ter-cor);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
}

.link-teste > span {
    margin-right: 10px;
}

.id-teste {
    background-color: var(--bd-seg-cor);
    color: var(--bd-pri-cor);
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.data-coleta {
    background-color: #1bbea9;
    color: var(--bd-pri-cor);
    padding: 7px;
    border-radius: 5px;
    font-size: 18px;
}

.modelo-teste, .zero-peca-teste, .posicoes-teste {
    font-size: 16px;
}

.posicoes-teste {
    padding: 7px;
    border-radius: 5px;
    background-color: #1bbea9;
}

.posicoes-teste > select {
    border: none;
    width: 100px;
    background-color: #1bbea9;
    font-size: 16px;
    color: var(--bd-pri-cor);
    cursor: pointer;
}

.btn-alterar, .btn-excluir {
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--bd-pri-cor);
}

.btn-alterar {
    background-color: #fdb821;
}

.btn-excluir {
    background-color: #f02121;
}

.footer-historico > p {
    text-align: center;
    color: var(--font-qui-cor); 
}

.buttons-back-next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.buttons-back-next > button {
    border: none;
    font-size: 30px;
    border-radius: 5px;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--bd-qua-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}

/*ALTERAÇÃO*/

.h1-alteracao {
    margin: 2rem;
}

.main-alteracao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.teste-resumo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: var(--bd-qui-cor);
    margin: 2rem;
    padding: 2rem;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
}

.resumo-itens > span {
    display: flex;
    margin: 15px;
}

.lista-posi-alterar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resumo-data {
    margin: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: #1bbea9;
    color: var(--bd-pri-cor);
}

.alterar-modelo, .alterar-zp, .alterar-posicoes {
    border: none;
    background-color: #fdb821;
    color: var(--bd-pri-cor);
    padding: 5px;
    font-size: 16px;
    margin-left:  15px;
    cursor: pointer;
}

.campos-alteracao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.altera-nome-modelo > input {
    margin-left: 0;
    margin-top: 10px;
    width: 455px;
}

.altera-zero-peca > p, .altera-posicoes > p {
    font-size: 19px;
}

.button-alterar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-salvar {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px;
    margin: 10px;
    margin-top: 15px;
    width: 200px;

    background-color: var(--bd-ter-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}