.pesquisa-teste {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.pesquisa-teste > button {
    border: none;
    padding: 6px;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    background-color: var(--bd-ter-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}
.bx-search {
    font-size: 25px;
}
.barra-pesquisa {
    width: 40%;
    font-size: 18px;
    background-color: #f3efef;
    color: #1a2d33;
}
.link-teste {
    text-decoration: none;
    color: var(--bd-seg-cor);
}
.lista-testes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3rem;
    font-weight: 500;
}
.item-teste {
    background-color: var(--bd-qui-cor);
    width: 90%;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    color: var(--bd-ter-cor);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
}
.link-teste > span {
    margin-right: 10px;
}
.id-teste {
    background-color: var(--bd-seg-cor);
    color: var(--bd-pri-cor);
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.data-coleta {
    background-color: #1bbea9;
    color: var(--bd-pri-cor);
    padding: 7px;
    border-radius: 5px;
    font-size: 18px;
}
.modelo-teste, .zero-peca-teste, .posicoes-teste {
    font-size: 16px;
}
.posicoes-teste {
    padding: 7px;
    border-radius: 5px;
    background-color: #1bbea9;
}
.posicoes-teste > select {
    border: none;
    width: 100px;
    background-color: #1bbea9;
    font-size: 16px;
    color: var(--bd-pri-cor);
    cursor: pointer;
}
.btn-alterar, .btn-excluir {
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--bd-pri-cor);
}
.btn-alterar {
    background-color: #fdb821;
}
.btn-excluir {
    background-color: #f02121;
}
.footer-historico > p {
    text-align: center;
    color: var(--font-qui-cor); 
}
.buttons-back-next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.buttons-back-next > button {
    border: none;
    font-size: 30px;
    border-radius: 5px;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--bd-qua-cor);
    color: var(--bd-pri-cor);
    cursor: pointer;
}