.main-execucao-teste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info-teste {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0.938rem;
    margin-top: 3rem;

    font-size: 19px;
    width: 400px;
    color: #244350;
}

.titulo-modelo {
    font-weight: 500;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 2rem;
}

.exc-sub-title {
    text-align: left;
    font-weight: 500;
}

.info-teste > p {
    margin-right: 20px;
}

.exc-zp-teste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: #f3efef;
    padding: 15px;
    margin: 0;
    width: 310px;
    border-radius: 5px;
}

.exc-zp-teste .p {
    width: auto;
    color: #000000;
    border-radius: 5px;
    font-size: 22px;
}

.option {
    padding: 20px;
    border-radius: 5px;
}

.exc-posi-lista {
    margin: 15px;
}

.exc-posi-lista > p {
    margin-bottom: 15px;
}

.exc-posi-lista {
    padding: 7px;
    border-radius: 5px;
    background-color: #1bbea9;
}

.exc-posi-lista > select {
    border: none;
    width: auto;
    background-color: #1bbea9;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.div-btn-add {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem;
}

.exc-add-posi {
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #fdb821;
    color: #FFFFFF;
}

.footer-exec {
    margin-top: auto;
    color: #a5a3a3;
    font-size: 18px;
}

/*======= GRÁFICO STREAMING ==========*/

.graph-stream {
    background-color: #f3efef;
    grid-column: 2/4;
}

.grafico-tempo-real {
    margin: 2rem;
    margin-top: 6rem;
    background-color: #FFFFFF;
    height: 80vh;
    border-radius: 5px;
}
