
.main-resultados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grafico-estatico {
    margin-top: 2rem;
    margin-left: 4rem;
    width: 600px;
}

.tabela {
    margin: 2rem;
    color: #000;
    border-collapse: collapse;
    font-size: 14px;
    font-family: sans-serif;
    width: 500px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.459);
}

.tabela thead tr {
    background-color: var(--bd-qua-cor);
    color: #ffffff;
    text-align: left;
}

.tabela th, .tabela td {
    padding: 5px 10px;
}

.tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.buttons-resultados {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-resultados > button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
    color: #ffffff;
}

.btn-salvar-ensaio {
    background-color: #fdb821;
}

.btn-download-csv {
    background-color: #1bbea9;
}

.btn-download-pdf {
    background-color: #244350;
}

.footer-resultados {
    margin-top: 5px;
    text-align: center;
    color: var(--font-qui-cor);
}
